{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" id="page-margin">
        <div class="container content" style="text-align: center;">
        <div style="display: inline-block; width: 400px;">
            <h2>Редактировать профиль</h2>
            <form method="post" class="bootstrap-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Сохранить">
            </form>
        </div>
    </div>
    </div>
{% endblock %}