{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мини Соцсеть</title>
    <link href="{% static 'css/bootstrap-4/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-4/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-4/bootstrap-reboot.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</head>
<body>
    {% include 'blocks/navbar.html' %}
    {% include 'blocks/messages.html' %}

    {% block content %}
    {% endblock %}
</body>
</html>