{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container content">
        <h2 class="text-center">Welcome to Catch-link!</h2>
        <div class="text-center">
            <h2 class="text-center">Социальная сеть, общайтесь , добавляйте посты и лайкайте друг друга!=)</h2>
            <p>А теперь можно перейти к
                <a href="{% url 'register' %}">регистрации</a></p>
            <i class="fa fa-music"></i>
            <a href="{% url 'login' %}" class="btn btn-info">Войти</a>
            <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
        </div>
    </div>
{% endblock %}