body{
    background-color: #efefef;
}

.content{
    border: 1px solid #e2e2e2;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 5px -4px rgba(128, 128, 128, 0.69);
    background: white;
    min-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.errorlist{
    color: red;
    list-style: none;
    font-size: 12px;
}

.avatar-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.block{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: 0 0 5px -4px rgba(128, 128, 128, 0.69);
    background: white;
    padding: 10px;
    margin: 5px;
}

.left-menu a{
    display: block;
    line-height: 30px;
    color: rgb(20, 93, 148);
}

.mainpage-avatar-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.right-menu-links{
    margin-top: 20px;
}

.right-menu-links a{
    margin-top: 10px;
    margin-bottom: 5px;
}

.card{
    margin-bottom: 20px;
}

.post{
    padding-bottom: 0;
}

.post-title{
    margin-bottom: 10px;
}

.post-author-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

.post-author{
    font-weight: bold;
    width: auto;
    overflow: hidden;
    height: 20px;
    font-size: 14px;
    display: block;
}

.post-author a{
    color: rgb(68, 91, 139);
}

.post-datetime{
    display: block;
    width: auto;
    overflow: hidden;
    height: 20px;
    font-size: 11px;
    color: grey;
}

.post-text{
    color: #414142;
    font-size: 14px;
}

.comment{
    color: #414142;
    font-size: 14px;
}

.comment-body{
    overflow: hidden;
}

.comment-author{
    font-weight:bold;
    color: rgb(68, 91, 139);
}

#page-margin{
    margin-top:1%;
}
